.reportInput_container{
    background: #fff;
    box-sizing: border-box;
    padding: 20px 0;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    margin: 20px;
    height: 200px;
    width: 1000px; 
  }
  
  .mt{
    margin-top: 10px;
  }